<h4>New Genre</h4>

<%= form_for @genre, url: genres_path do |f| %>

  <div class="field">
    <%= f.label "genre_name" %>:
  <%= f.text_field :genre_name %></div>
  <div class="actions">
    <%= f.submit "Create" %>
  </div>
<% end %>
