<h5>Genre: <%= link_to @genre.name%></h5>

<br>

<ul>

    <% @genre.songs.each do |song|%>
    <li>
        <a href="<%= genre_song_path(song) %>"><%= song.title %></a>
      </li>
      <%end%>

  </ul>
