
<ul>
  Artist:
  <br>
  <h4><%= @artist.artist_name%></h4>

</ul>

<p><ul>
    <% @artist.songs.each do |song|%>
      <li>
          <%= link_to song.title, artist_song_path(@artist, song) %>
      </li>
    <%end%>



  </ul>
</p>
