<div class="blended_grid">

<!-- <div class="col-left-sml"> -->

<div class="middleBanner">


</div>
  <div class="profileBanner">
    <h5>DJ Dashboard</h5>
    <%= link_to "Edit Account", edit_user_registration_path %><br>

      Welcome to your dashboard! Click on the "All Tracks" button to see a full list of all tracks.<br>
  </div>


  <!-- </div> col-left-sml" -->

    <div id="latest_track" class="featuredBanner">
        <!-- <% @songs.each do |song| %>
        <%= image_tag song.image.url(:thumb) %>
        <%end%> -->
        <%= render 'latest_songs'  %>
    </div>


    <div class="trackBanner">

  
    </div>

      <!-- <a href="#" class="btn btn-xs btn-primary"><span class="glyphicon glyphicon-fire"></span> All Tracks</a> -->

      <button class="btn btn-xs btn-primary" id="all_tracks"><span class="glyphicon glyphicon-fire"></span>All Tracks</button>
       <section id="songs-section">
         <div id="songs_collection" style="display: none;">
           <br>
           <div class="songs_index">
           </div>
         </div>
       </section>



<!-- </section> page content closer-->
