// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


//
#songs_collection {
  display: none;
  -moz-column-count: 3;
  -moz-column-gap: undefinedpx;
  -webkit-column-count: 3;
  -webkit-column-gap: undefinedpx;
  column-count: 3;
  column-gap: undefinedpx;
}

// *{
// background-color: #FFFFFF;
//
// }
// body{
// background-image : url(' bi-background-light-blue.png ');
// background-attachment : fixed;
// background-size : 100% auto;
// }


.blended_grid{
width : 1050px;
overflow : auto;
margin : 0 auto 0 auto;
}

.navBanner{
background-color: #FFFFFF;
float : left;
clear : none;
height : 50px;
width : 1080px;
}
.profileBanner{
background-color :  #FFFFFF;
float : left;
clear : none;
height : 350px;
width : 350px;
}
.featuredBanner{
background-color : rgba(255,255,255, 0.5);
float : left;
clear : none;
height : 350px;
width : 350px;
}
.trackBanner{
background-color : rgba(255,255,255, 0.5);
float : left;
clear : none;
height : 350px;
width : 350px;
overflow: scroll;
}
.css3button{
background-color : rgba(255,255,255, 0.5);
float : left;
clear : none;
height : 350px;
width : 1050px;
}
.footer-banner{
background-color :  #FFFFFF;
float : left;
clear : none;
height : 50px;
width : 1050px;
}
